# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
#app/*.pyc
app/*/__pycache__/
#app/*/*.pyc
app/*/*/__pycache__/
#app/*/*/*.pyc
app/*/*/*/__pycache__/
#app/*/*/*/*.pyc

# Local Databases
#app/db.sqlite3

# Documentation
#app/docs

# Logs
*.log

# Virtual Environments for Python
.env/
.venv/
venv/
